*{
    font-family: 'roboto';
}

.prata-font {
    font-family: 'prata';
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.73)),
    url('/assets/img/hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.feature {
    position: relative;
    background: url(/assets/img/feature.jpg);
    background-size: cover;
    background-position: center;
}

.feature-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}

a.nav-link:hover, a.active {
    border-bottom: 2px solid white;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.web-title{
    font-size: 2.5rem;
}

.border-box {
  box-sizing: content-box;
}

.m-n1 {
    margin-top: -20px;
}

.scroll {
    position: absolute;
    bottom: 0;
}

a.scroll span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

a.scroll span::before {
  position: absolute;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

.slick-next, .slick-prev, .slick-dots, .slick-dotted {
	filter: invert(10%);
}

footer, .copyright {
    background-color: black;
}

.copyright {
    height: 40px;
}

.copyright span {
    font-size: 14px;
}

.author {
    color: #FF5959;
}

.post-img{
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.text-popular-post{
    font-size: 14px;
}

.hero-section {
    height: 30vh;
    width: 100%;
    background: url(/assets/img/feature.jpg);
    background-position: center;
    background-size: cover;
}

.overlay-section {
    height: 30vh;
    width: 100%;
    /* position: absolute;` */
    background: rgba(0, 0, 0, 0.6);
}

.align-justify {
    text-align: justify;
}

.sticky-offset {
    top: 70px !important;
}

.author-comment{
    margin-bottom: 0 !important;
}

.list-gallery {
    border-bottom: 1px solid gray;

}

.active-gallery {
    border-bottom: 4px solid gray;
}

.mansory-sizer,
.mansory-item { width: 30%; }

.img-about {
    margin-top: -10%;
    z-index: 999;
}

@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

 @media (max-width: 768px) { 
   .slick-next {
        right: -10px !important;
    }

   .slick-prev {
        left: -10px !important;
    }

    .sticky-offset a {
        display: inline-block !important;
    }

    #content .share-icon-wrapper {
        margin-top: 1rem !important;
        padding-bottom: 0 !important;
    }

    #detail-post .detail-post-content {
        margin-top: 1rem !important;
    }

    #sidebar .search{
        margin-top: 1rem !important;
    }

    .mansory-sizer,
    .mansory-item { width: 40%; }

    #content-comment .author-comment {
        display: block !important;
    }

    #content-comment .date-comment {
        float: left !important;
    }

    .user-comment{
        clear: both;
    }

 }

  @media (max-width: 576px) { 
    .mansory-sizer,
    .mansory-item { width: 100%; }

}

@media (min-width: 768px) { 
    .web-title {
        font-size: 4rem;
    }
}
